{% extends 'base/base.html' %} {% block content %}

<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('/static/assets/images/training.jpeg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs mb-2">
          <span class="mr-2"
            ><a href="{% url 'index' %}"
              >Home <i class="fa fa-chevron-right"></i></a
          ></span>
          <span
            >Employee Affiliation Program! <i class="fa fa-chevron-right"></i
          ></span>
        </p>
        <h1 class="mb-0 bread">Employee Affiliation Program!</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 d-flex">
        <div
          class="img d-flex align-items-center justify-content-center py-5 py-md-0"
          style="background-image: url(/static/assets/images/training1.jpeg)"
        ></div>
      </div>

      <div class="col-md-6 pl-md-5 pt-md-5">
        <div class="row justify-content-start py-5">
          <div class="col-md-12 heading-section ftco-animate">
            <!-- <span class="subheading"
              >Welcome to Gevito Professional Cleaners:</span
            >
            <h2 class="mb-4">
              Your trusted partner for professional cleaning services in Lagos
              and Nigeria.
            </h2> -->
            <p>
              At Gevito Cleaning Services, we take pride in offering a unique
              and unparalleled service - the affiliation of an employee
              dedicated solely to your organization. This means you can have a
              highly skilled and trained cleaner or domestic/office staff
              exclusively assigned to your premises, providing you with
              consistent and personalized cleaning services tailored to your
              specific requirements.
            </p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading"
          >Our employee affiliation program offers a range of benefits that set
          us apart:</span
        >
        <!-- <h2 class="text-success"></h2> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 services ftco-animate">
        <div class="d-block d-flex">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-workplace"></span>
          </div>
          <div class="media-body pl-3">
            <h3 class="heading text-success">Dedicated Expertise</h3>
            <p>
              Your affiliated employee will become intimately familiar with your
              premises, allowing them to develop a deep understanding of your
              cleaning needs and preferences. They will consistently deliver
              top-quality services with meticulous attention to detail.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 services ftco-animate">
        <div class="d-block d-flex">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-pool"></span>
          </div>
          <div class="media-body pl-3">
            <h3 class="heading text-success">Personalized Approach</h3>
            <p>
              We recognize that every organization has unique cleaning
              requirements. With our affiliation program, your dedicated
              employee will work closely with you to create a customized
              cleaning plan that addresses your specific needs, ensuring maximum
              satisfaction.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 services ftco-animate">
        <div class="d-block d-flex">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-rug"></span>
          </div>
          <div class="media-body pl-3">
            <h3 class="heading text-success">
              Trusted and Reliable Professionals
            </h3>
            <p>
              Rest assured that the affiliated employee assigned to your
              organization undergoes a rigorous selection process, including
              thorough background checks and comprehensive training. They are
              committed to maintaining the highest standards of professionalism,
              integrity, and confidentiality.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 services ftco-animate">
        <div class="d-block d-flex">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-kitchen"></span>
          </div>
          <div class="media-body pl-3">
            <h3 class="heading text-success">Enhanced Communication</h3>
            <p>
              Clear and open lines of communication are essential for a
              successful affiliation. We foster strong communication channels
              between you, your dedicated employee, and our support team to
              ensure that any questions, concerns, or adjustments are promptly
              addressed.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 services ftco-animate">
        <div class="d-block d-flex">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-garden"></span>
          </div>
          <div class="media-body pl-3">
            <h3 class="heading text-success">Consistency and Continuity</h3>
            <p>
              With an affiliated employee, you can enjoy consistent and
              uninterrupted cleaning services. They will be well-versed in your
              specific cleaning routines, allowing for seamless transitions and
              avoiding disruptions during employee absences or turnover.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 col-lg-4 services ftco-animate">
          <div class="d-block d-flex">
            <div
              class="icon d-flex justify-content-center align-items-center"
            >
              <span class="flaticon-balcony"></span>
            </div>
            <div class="media-body pl-3">
              <a href="{% url 'services' %}"> <h3 class="heading text-success">Affiliate an Employee</h3></a>
              <p>
                We offer the unique service of affiliating an employee to your organization. This means that you can have a dedicated cleaner assigned exclusively to your premises, ensuring consistent and personalized cleaning services tailored to your specific requirements.
              </p>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h2 class="text-success">How Does It Work</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="services-2">
          <div
            class="icon d-flex align-items-center justify-content-center border border-success rounded-circle"
          >
            <span
              class="flaticon-sweeper text-success"
              style="font-size: 32px; color: #269314"
              >1</span
            >
          </div>
          <div class="text">
            <h3 class="text-success">Quote the service; employee affiliate</h3>
            <!-- <p>employee affiliate.</p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-2">
          <div
            class="icon d-flex align-items-center justify-content-center border border-success rounded-circle"
          >
            <span
              class="flaticon-calendar text-success"
              style="font-size: 32px; color: #269314"
              >2</span
            >
          </div>
          <div class="text">
            <h3 class="text-success">
              state the number of affiliate employee.
            </h3>
            <!-- <p></p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-2">
          <div
            class="icon d-flex align-items-center justify-content-center border border-success rounded-circle"
          >
            <span
              class="flaticon-rating text-success"
              style="font-size: 32px; color: #269314"
              >3</span
            >
          </div>
          <div class="text">
            <h3 class="text-success">we work on the papers for you to sign.</h3>
            <!-- <p>Your satisfaction is our priority. After each cleaning session, we encourage you to rate our service and provide feedback. We value your input and continuously strive to improve our services based on your reviews.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
    <section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-3 pr-md-4 pb-lg-0 pb-4">
						<div class="heading-section ftco-animate text-center text-lg-left">
	          	<span class="subheading">Team &amp; Staff</span>
	            <h2>Our Team</h2>
	            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
	            <p><a href="#" class="btn btn-secondary">View All Staff</a></p>
	          </div>
					</div>
					<div class="col-md-4 col-lg-3 ftco-animate d-flex">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(/static/assets/images/staff-1.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Lloyd Wilson</h3>
								<span class="position mb-2">Office Cleaner</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-lg-3 ftco-animate d-flex">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(/static/assets/images/staff-2.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Lloyd Wilson</h3>
								<span class="position mb-2">Office Cleaner</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-lg-3 ftco-animate d-flex">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(/static/assets/images/staff-3.jpg);"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>Lloyd Wilson</h3>
								<span class="position mb-2">Office Cleaner</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
		                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->

<!-- <section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Testimonies</span>
        <h2>Happy Customer</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-quote-right"></span>
              </div>
              <div class="text">
                <div class="d-flex align-items-center mb-4">
                  <div
                    class="user-img"
                    style="background-image: url(images/person_1.jpg)"
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
                <p class="mb-1">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-quote-right"></span>
              </div>
              <div class="text">
                <div class="d-flex align-items-center mb-4">
                  <div
                    class="user-img"
                    style="background-image: url(images/person_2.jpg)"
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
                <p class="mb-1">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-quote-right"></span>
              </div>
              <div class="text">
                <div class="d-flex align-items-center mb-4">
                  <div
                    class="user-img"
                    style="background-image: url(images/person_3.jpg)"
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
                <p class="mb-1">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-quote-right"></span>
              </div>
              <div class="text">
                <div class="d-flex align-items-center mb-4">
                  <div
                    class="user-img"
                    style="background-image: url(images/person_1.jpg)"
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
                <p class="mb-1">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-quote-right"></span>
              </div>
              <div class="text">
                <div class="d-flex align-items-center mb-4">
                  <div
                    class="user-img"
                    style="background-image: url(images/person_2.jpg)"
                  ></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
                <p class="mb-1">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section
  class="ftco-section ftco-intro"
  style="background-image: url('/static/assets/images/clean.jpeg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2>Together we will explore new things</h2>
        <!-- <a
          href=""
          class="icon-video d-flex align-items-center justify-content-center"
          ><span class="fa fa-play"></span
        ></a> -->
      </div>
    </div>
  </div>
</section>

{% endblock content %}
