<div class="wrap">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md d-flex align-items-center">
        <p class="mb-0 phone">
          <span class="mailus" style="font-size: 1.2rem; font-weight: bold">Phone no:</span>
          <a href="#" style="font-size: 1.2rem; font-weight: bold">+2348099040456,</a>
          <br class="d-md-none" />
          <!-- <span class="mailus number" style="font-size: 1.2rem; font-weight: bold;"></span> -->
          <a href="#" style="font-size: 1.2rem; font-weight: bold" class="number">+2348157070568</a>
          <br class="d-md-none" />
          <span class="mailus" style="font-size: 1.2rem; font-weight: bold">email us:</span>
          <a href="#" style="font-size: 1.2rem; font-weight: bold; z-index: 1000;">info@gevitoclean.com</a>
        </p>
      </div>
      
    
      <div class="col-12 col-md-auto d-flex justify-content-md-end mt-2 mt-md-0">
        <div class="social-media">
          <p class="mb-0 d-flex">
            <a href="https://instagram.com/gevitoclean?igshid=ZGUzMzM3NWJiOQ==" class="d-flex align-items-center justify-content-center">
              <span class="fa fa-instagram" style="color: #E1306C;"><i class="sr-only">Instagram</i></span>
            </a>
            <a href="https://tinyurl.com/mvhysnku" class="whatsapp-icon d-flex align-items-center justify-content-center">
              <span class="fa fa-whatsapp"><i class="sr-only">WhatsApp</i></span>
            </a>
            <a href="https://www.linkedin.com/in/gevito-clean-07b03b261" class="d-flex align-items-center justify-content-center">
              <span class="fa fa-linkedin"><i class="sr-only">LinkedIn</i></span>
            </a>
          </p>
        </div>
      </div>
    </div>
    
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="/static/assets/images/gevito.ico" alt="" />
      <!-- Gevito<span>Clean</span> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a
            href="{% url 'index' %}"
            class="nav-link text-success"
            style="font-size: 18px; font-weight: bold"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url 'about' %}"
            class="nav-link text-success"
            style="font-size: 18px; font-weight: bold"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url 'services' %}"
            class="nav-link text-success"
            style="font-size: 18px; font-weight: bold"
            >Our Services</a
          >
        </li>
        <!-- <li class="nav-item"><a href="portfolio.html" class="nav-link text-success" style="font-size: 18px; font-weight: bold;">Portfolio</a></li>
              <li class="nav-item"><a href="pricing.html" class="nav-link text-success" style="font-size: 18px; font-weight: bold;">Pricing</a></li> -->
        <!-- <li class="nav-item"><a href="blog.html" class="nav-link text-success" style="font-size: 18px; font-weight: bold;">Blog</a></li> -->
        <li class="nav-item">
          <a
            href="{% url 'contact' %}"
            class="nav-link text-success"
            style="font-size: 18px; font-weight: bold"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a
            href="{% url 'trainings' %}"
            class="nav-link text-success"
            style="font-size: 18px; font-weight: bold"
            >Employee Affiliation Program</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
